@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



.about-right img {
    max-width: 100%;
    height: auto;
    border-radius: 45px;
    box-shadow: 10px -30px 0px #eee;
}

.custom-container{
    position: relative;
}

.about-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.about-right {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}



.about-left h3 {
    font-family: 'Sacramento', Sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 35px;
}

.about-left h1 {
    font-size: clamp(2rem, 6vw, 6rem);
    font-family: "Jost", sans-serif;
    letter-spacing: clamp(-1px, -0.5vw, -5px);
    line-height: clamp(2rem, 6vw, 5.5rem);
}

.about-left-p {
    width: 80%;
    padding-top: 80px;
    /* margin: 70px 0 0 0; */
}

.about-left-p p {
    font-size: 16px;
    font-family: "Jost", sans-serif;
    line-height: 1.8rem;
}

.about-right p {
    width: 84%;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    margin: 20px 0 0 0;
    line-height: 1.8rem;
}

.about-right h1{
    font-family: "Jost", sans-serif;
    /* border: 2px solid red; */
    font-weight: 400;
}

/* .custom-container {
    width: 80%;
    margin: auto;
    border: 1px solid red;
} */

.right-img {
    position: relative;
}

.right-img span {
    position: absolute;
    left: -40px;
    bottom: -40px;
    width: 25%;
    height: 20vh;
    background-color: #433D4E;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    padding: 4px;
    border-radius: 40px;
}


.about-right .sign{
    font-family: 'Sacramento', Sans-serif;
    font-size: clamp(2rem, 3vw, 6rem);
}

@media (max-width: 767px) {
    .about-left-p, .about-right p {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about{
        height: 1160px;
    }

    .about-left-p{
        position: absolute;
        bottom: -160px;
    }

    .about-left-p p{
        line-height: 1.6rem;
        padding: 4px;
    }

    .about-right p{
        position: absolute;
        bottom: -300px;
    }

    .about-right p{
        line-height: 1.6rem;
    }

    .sign{
        position: absolute;
        bottom: -380px;
        right: 0;
    }

    .right-img{
        top: -100px;
    }

    .about-left h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .right-img {
        margin-top: 50px;
    }

    .right-img span {
        bottom: -20px;
        left: 10px;
        width: 40%;
    }
}

@media (max-width: 576px) {
    .about-left h1 {
        font-size: 25px;
    }

    .about-left-p{
        bottom: -260px;
    }

    .about-left-p p{
        line-height: 1.6rem;
        padding: 4px;
    }

    .about-right p{
        bottom: -470px;
    }

    .about-right img {
        width: 100%;
        margin-top: 10px;
    }

    .right-img span {
        bottom: -10px;
        left: 5px;
        width: 50%;
    }

    .right-img span{
        width: 35%;
        height: 14vh;
    }

    .sign{
        position: absolute;
        bottom: -520px;
        right: 0;
    }
}
