/* Navbar.css */
@import url('https://fonts.cdnfonts.com/css/fake-serif');
/* Default navbar styling */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
  border-bottom: 1px solid grey;
}


/* Navbar shown */
.navbar-show {
  transform: translateY(0);
}

/* Instant show without transition */
.navbar-instant-show {
  /* transition: none */
}

.navbar-white {
  background-color: white; 
  transition: background-color 0.3s;
}

.navbar-transparent {
  background-color: transparent;

  .navbar-menu li a{
    color: #000;    
  }

  .navbar-main h2{
    color: #000;
  }

  .navbar-links a{
    color: #000;
  }
}

.navbar-special {
  color: white;
}

.navbar-special .navbar-menu li a,
.navbar-special .navbar-main h2,
.navbar-special .navbar-links a {
  color: white; 
}

.navbar-blog {
  color: white; /* Change text color to white */
}

.navbar-blog .navbar-menu li a,
.navbar-blog .navbar-main h2,
.navbar-blog .navbar-links a {
  color: white; 
}


.navbar-white .navbar-main h2,
.navbar-white .navbar-links a,
.navbar-white .navbar-menu li a {
  color: #000; 
}


.navbar-white .navbar-links {
  color: #000; 
}

/* Ensure icons are also black */
.navbar-white .navbar-right .cart,
.navbar-white .navbar-right .search {
  color: #000;
}

.navbar-right{
  display: flex;
}



/* Hidden navbar */
.navbar-hide {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

/* Navbar menu burger */
.navbar-menuburger {
  position: absolute;
  top: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 1.7rem;
}

.navbar-menuburger span {
  height: 0.4rem;
  width: 100%;
  background-color: #000;
  border-radius: 0.2rem;
}

.navbar-main {
  display: flex;
  width: 80%;
  height: 70px;
  margin: auto;
  align-items: center;
}

.navbar-main h2 {
  font-family: "Fake Serif", sans-serif;
  font-size: 48px;
  margin: 5px;
  color: #fff;
}

.navbar-main .navbar-links {
  flex-grow: 1;
}

.navbar-main .navbar-links a {
  margin: 0 5px;
  font-size: 14px;
}

.navbar-right .cart,
.navbar-right .search{
  font-size: 20px;
  margin: 5px;
}

.navbar-links a {
  color: white;
  font-size: 20px;
}

/* Navbar menu styling */
.navbar-menu {
  display: flex;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu li a {
  position: relative;
  z-index: 2;
  padding: 10px 10px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 40px;
}

.navbar-menu li a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fcb900; 
  border-radius: 60px;
  transition: height 0.4s ease, top 0.4s ease, border-radius 0.4s ease;
  z-index: -1; 
}

.navbar-menu li:hover a::after {
  top: 0;
  height: 100%;
  border-radius: 60px;
}

/* Media queries */
@media (max-width: 1024px) {
  .navbar-menuburger {
    display: flex;
  }

  .navbar-menu {
    display: none;
    opacity: 0;
    height: 650px;
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease; /* Added delay of 0.2s */
  }

  .navbar-menu li a::after {
    transition: none; /* Remove the hover transition animation */
  }
  
  .navbar-menu li:hover a::after {
    top: 0;
    height: 0; 
  }

  .navbar-menu.show {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: white;
    opacity: 1;
    /* border: 4px solid red; */
   
  }

  .navbar-menu li {
    padding: 25px 50px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 0.1rem solid #ccc;
    text-align: left;
    transition: all 0.5s;

    a{
      color: #000 !important;
    }
  }

  .navbar-links::before {
    content: "SEARCH FOR";
    position: absolute;
    top: -60px;
    left: -10px;
    width: 100px;
    text-align: center;
    font-size: 12px;
    color: #000 !important;
  }

  .navbar-links::after {
    content: " type and hit enter";
    position: absolute;
    width: 150px;
    left: -20px;
    top: -30px;
    font-size: 14px;
    color: #000 !important;
  }

  .navbar-main h2 {
    font-family: "Fake Serif", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 9rem;
    margin: 0;
  }

  .navbar-right {
    position: absolute;
    right: 2rem;
  }
}

/* Disable hover animations on screens 1024px and smaller */
@media (max-width: 1024px) {
  .navbar-links {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 70px; 
    display: none;
    margin-right: auto;
  }

  .navbar-links.show {
    display: flex; 
    opacity: 1; 
    position: absolute;
    left: 40%;
    top: 600px;

    a{
      color: #000 !important;
    }
    /* border: 1px solid red; */
  }
  
  /* Hide navbar links */
  .navbar-links.hide {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 425px) {
  .navbar-main h2 {
    left: 5.5rem;
  }
}
