.Contact{
    height: 700px;
}


.contact-form{
    background-color: #f7f3e8;
}

.contact-form h1{
    font-size: 6vw;
}

.form-control{
    border-radius: 0;
}


.form-control:focus {
    border-color: black; 
    box-shadow: none;   
    outline: none; 
    border-radius: 0;    
  }