.Client {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  position: relative; /* Position relative to allow overlay */
}

.Client::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/card-bg.png);
  background-color: #245388;
  background-size: cover;
  background-blend-mode: overlay;
  z-index: -1;
}

/* Main container */
.Client-main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

.Client-item {
  position: relative;
  width: 340px;
  height: 400px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

/* Front and back faces */
.Client-item .Client-front,
.Client-item .Client-back {
  border-radius: 30px;
}

.Client-front,
.Client-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Front face styles */
.Client-front {
  transform: rotateY(0deg);
}

.Client-item .Client-front .Client-inner {
  color: #000;
}

.Client-item:nth-child(1) .Client-front {
  background-color: #c2deff;
}

.Client-item:nth-child(2) .Client-front {
  background-color: white;
}

.Client-item:nth-child(3) .Client-front {
  background-color: #c2deff;
}

.Client-front .Client-inner,
.Client-back .Client-inner {
  width: 100%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  z-index: 2;
  color: #fff;
}

/* Back face styles */
.Client-back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}

.Client-back::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.Client-item:hover .Client-front {
  transform: rotateY(-180deg);
}

.Client-item:hover .Client-back {
  transform: rotateY(0deg);
}

/* Text styles */
.Client h3 {
  font-size: 2vw;
}

.Client h1 {
  width: 50%;
  font-size: 5vw; /* Adjust this value as needed */
}

/* Responsive Styles */
@media (max-width: 991px) {
  .Client-main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .Client-item {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 769px) {
  .Client-item {
    width: 100%;
    height: 400px;
  }
}
