@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Courses.css */
.Courses {
    background-color: #F6EDDA;
    padding: 50px 20px;
    text-align: center;
    height: 830px;
  }
  
  .Courses-container h5 {
    font-family: 'Sacramento', Sans-serif;
    font-size: clamp(18px, 3vw, 28px);
    margin-bottom: 10px;
  }
  
  .Courses-container h1 {
    width: 80%;
    font-size: clamp(24px, 6vw, 90px);
    font-weight:400;
    letter-spacing: clamp(-5px, -5px + 2vw, 0px);
    margin: 0 auto 40px auto;
    color: #333;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
  }

  .Courses-container{
    width: 80%;
    margin: auto;
    /* position: relative; */
  }
  
  .Courses-container h6 {
    font-size: clamp(10px, 2vw, 16px);
    color: #00000059;
    margin-bottom: 40px;
  }
  
  .Courses-slider {
    background-color: #fff;
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .Courses-slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .Courses-slider p {
    font-size: clamp(16px, 4vw, 22px);
    padding: 10px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
    font-family: "Jost", sans-serif;
  }

  .Courses-slider p:nth-child(3){
    font-size: clamp(8px, 2vw,12px );
    line-height: 1.3rem;
    text-align: left;
    font-family: "Jost", sans-serif;
    color: #0000005E;
  }
  
  .Courses-slider:hover {
    transform: translateY(-10px);
  }
  
  .slick-prev,
  .slick-next {
    color: #ff7f50;
  }

  .each-item{
    padding: 10px;
  }

  .slick-dots li {
    margin: -20px -2px; /* Adjust this value to decrease spacing */
  }
  .btn2 {
    position: relative;
    bottom: -60px;
    overflow: hidden;
    background-color: #606266; /* Adjust the background color as needed */
    color: white;
    padding: 28px 38px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 40px;
    font-family: "Jost", sans-serif;
  }
  
  .btn-text,
  .btn-text-hover {
    display: block;
    width: 100%;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.3s ease;
  }
  
  .btn-text-hover {
    position: absolute;
    display: grid;
    place-items: center;
    top: 75px;
    left: 0;
    opacity: 0;
    background-color: black; /* Set background color to black */
    width: 100%; /* Ensure full width */
    height: 100%; /* Cover the entire height of the button */
    color: white; /* Set text color to white */
  }
  
  .btn2:hover .btn-text {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .btn2:hover .btn-text-hover {
    transform: translateY(-100%);
    opacity: 1;
  }
  
  
  .bg-img2 {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .bg-overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Ensures the overlay covers the entire height */
    background-color: transparent;
    background-image: linear-gradient(180deg, #0E2E48 0%, #00000000 100%);
  }

  .con-1{
    text-align: center;
    color: #fff;
    width: 50%;
  }

  .con-1 span{
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffffc7;
    font-family: "Jost", sans-serif;
  }

  .con-1 h2:nth-child(1){
    color: #7FEAE3;
    position: relative;
    font-family: 'Sacramento', Sans-serif;
    font-size: clamp(24px, 4vw, 32px);
    letter-spacing: 2px;
  }

  .con-1 h1:nth-child(2){
    color: #F2FFCF;
    position: relative;
    width: 100%;
    font-size: clamp(24px, 6vw, 80px);
    font-weight: 400;
    letter-spacing: -2px;
    font-family: "Jost", sans-serif;
  }

  @media (max-width: 1024px) {    
    .Courses-container h1 {
      font-size: 28px;
    }

    .btn2 {
        padding: 20px 40px;
    }

    .btn-text-hover{
        top: 64px;
    }
  }

  @media (max-width:889px) {
    .con-1 h1:nth-child(2){
      font-size: 50px;
    }
  }
  
  @media (max-width: 600px) {
    .Courses-container {
      padding: 20px;
    }

    .con-1 h2:nth-child(1){
      color: #7FEAE3;
      position: relative;
      font-size: 24px;
    }

    .con-1 h1:nth-child(2){
      font-size: 28px;
    }

    .con-1 span{
      font-size: 12px;
    }
    
    .Courses-container h1 {
      font-size: 24px;
    }

    .btn2 {
        padding: 15px 30px;
    }

    .btn-text-hover{
        top: 53px;
    }
  }
  